body{
    margin: 0;
    text-align: center;
    background-color: #ffffff;
    font-family: 'Bradley Hand ITC','Meiryo UI';
}
nav{
    background-color: #eaf4fc;
    color: #941f57;
    position: absolute;
    top: 0;
    width: 100%;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 20px;
    box-sizing: border-box;
}
nav li:hover{
    color: #333333;
}
nav a{
    text-decoration: none;
    color: #941f57;
}

/*home.html*/
#top-content img{
    width: 30%;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
}
.main-content{
    background-color: #ffffff;
    border: #eaf4fc;
    border: 1px solid #765c47;
    border-radius: 10px;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
}
.main-content h3{
    background-color: #fff9fc;
    color: #941f57;
    border-radius: 5px;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}
.main-content li{
    list-style: none;
    text-align: left;
    padding-left: 100px;
    box-sizing: border-box;
}
/*HOMETOWN*/
.top-content2{
    color: #333333;
    margin-top: 90px;
    box-sizing: border-box;
}


/*disney.html*/
.home-div{
    color: #333333;
    margin-top: 90px;
    box-sizing: border-box;
}
.main-content3{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 10%;
}
.img-top{
    background-color: #ffffff;
    color: #765c47;
    width: 25%;
    padding: 10px 20px 10px 20px;
    margin-left: 2%;
    margin-right: 2%;
    box-sizing: border-box;
    border: 1px solid #bfbfbf;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px #e2d2ea;
}
.img-top img{
    width: 100%;
    border-radius: 10px;
    margin: 5px;
}
